<%provide(:title, @book.title) %>


      <h1 style="color: red">

        <%= @book.title %>
      </h1>

      <h1>
        <%=@book.price %>
      </h1>
      <h1>
        <%= @book.author %>
      </h1>
